<% layout('layouts/basic') %>

<div class="row">
    <h1 class="text-center">Edit food</h1>
    <div class="col-6 offset-3">
        <form action="/foods/<%=food._id%>?_method=PUT" method="POST">
            <div class="mb-3">
                <label for="food[foodType]">Food type : </label> <br>
                <select class="mt-3" name="food[foodType]">
                    <% const foodTypes=['איטלקי','מקסיקני', 'הודי' ,'מרוקאי' , 'אסיאתי' , 'תימני' ]; %>
                        <% for(let foodType of foodTypes){ %>
                            <option value="<%=foodType%>"
                                <%=foodType%> <%= foodType===food.foodType ? 'selected' : '' %>> <%=foodType%>
                            </option>
                            <% } %>

                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="food[name]"
                    value="<%=food.name%>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="recipe">Recipe</label>
                <textarea class="form-control" type="text" id="recipe" name="food[recipe]"
                        rows="7"><%=food.recipe%></textarea>
            </div>
            

            <div class="mb-3">
                <label class="form-label" for="image">Image</label>
                <input class="form-control" type="text" id="image" name="food[image]"
                    value="<%=food.image%>">
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Update food</button>
            </div>
        </form>

        <footer>
            <a href="/foods/<%=food._id%>/show">Back to food's page</a><br>
            <a href="/foods">Back to all foods</a><br>
        </footer>
    </div>
</div>