<% layout('layouts/basic') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%=user.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=user.firstName%>
                    </h5>
                    <p class="card-text">
                        <%=user.lastName%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%=user.email%>
                    </li>
                    <li class="list-group-item">
                        <%=user.password%>
                    </li>
                </ul>
                <div id="show_buttons" class="card-body d-flex justify-content-between">
                    <a class="card-link btn btn-primary flex-fill" href="/users">Back</a>
                    <% if(logout){ %>
                        <a class="card-link btn btn-warning flex-fill" href="/users/<%=user._id%>/edit">Edit</a>
                        <form class="d-inline" action="/users/<%=user._id%>?_method=DELETE" method="POST">
                            <a><button class="btn btn-danger flex-fill">Delete</button></a>
                        </form>
                        <a href="/recommendations/<%=user._id%>/new"><button
                                class="btn btn-success flex-fill">Recommend</button></a>
                        <% } %>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>

        <%if(logout){ %>
            <div class="col-6 offset-3">
                <form class="d-inline" action="/logout" method="POST">
                    <button class="btn btn-danger">Logout</button>
                </form>
            </div>
        <%  }%>    


                <div class="col-6 offset-3">
                    <a href="/users">חזרה לכל משתמשי האתר</a>
                </div>
    </div>